@mixin rwd($getBreakpoint) {
  @if map-has-key($breakpoints, $getBreakpoint) {
    @media (max-width: #{map-get($breakpoints, $getBreakpoint)}) {
      @content;
    }
  }

  @else {
    @media (max-width: $getBreakpoint) {
      @content;
    }
  }
}

//MARGIN
@mixin my($my: 0) {
  margin-top: $my;
  margin-bottom: $my;
}

@mixin mx($mx: 0) {
  margin-left: $mx;
  margin-right: $mx;
}

//PADDING
@mixin py($py: 0) {
  padding-top: $py;
  padding-bottom: $py;
}

@mixin px($px: 0) {
  padding-left: $px;
  padding-right: $px;
}

@mixin pos($position: absolute, $top: 0, $left: 0, $right: null, $bottom: null) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

//RESET
@mixin reset($tag) {
  @if $tag == a {
      text-decoration: none;
      color: $black;
  }
  @else if $tag == li {
    list-style-type: none;
  }
  @else if $tag == btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
  } @else if $tag == inputText {
      border: none;
      background-color: transparent;
  } @else if $tag == checked {
      @include appearance();
      position: relative;
      width: 15px;
      height: 15px;
      border: 1px solid $black;
      background-color: transparent;
  } @else if $tag == select {
      @include appearance();
      border: none;
      background-color: transparent;
  }
}