* {
  margin: 0;
  padding: 0;
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: $page-initial-font;
  text-align: center;
  background-color: #e3e3e3;
}