@import 'var';
@import 'mixin';
@import 'keyframes';
@import 'settings';

.header {
  @include flex(space-between);
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-size: 2.1rem;
  color: $white;
  background-image: url("../img/bg-stardust.png");
  background-size: cover;
  background-color: $dark-blue-color;
  overflow: hidden;

  &__nav {
    font-size: 1.2rem;
    background-color: $dark-blue-color;
    z-index: 998;
  }
}

.welcome-text {
  margin: 25px;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 52px;

  &__awards {
    color: $green-color;
  }
}

.scroll-down-btn {
  margin-bottom: 12px;
  width: 24px;
  transform: rotate(90deg);
}

//HAMBURGER-BTN
.hamburger-btn-container {
  @include reset(btn);
  @include pos(fixed, 12px, auto, 15px);
  @include flex();
  width: 62px;
  height: 44px;
  clip-path: polygon(0 0, 75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%);
  background-color: rgba($green-color-dark, var(--hamburgerBtnContainerOpacityValue));
  z-index: 999;

  @include rwd(medium) {
    top: 9px;
    right: 12px;
    width: 58px;
  }
}

.hamburger-btn {
  @include pos(absolute, 50%, 50%);
  width: 38px;
  height: 20px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: pointer;

  &.active {
    & > .hamburger-btn__inner-item {
      &:first-child {
        top: 8px;
        transform: rotate(-35deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        top: 8px;
        transform: rotate(35deg);
      }
    }
  }

  &__inner-item {
    @include pos(absolute, 0, 2px);
    display: block;
    width: 34px;
    height: 3px;
    background-color: $white;
    transition: top .4s, opacity .4s, transform .4s .4s;

    @include rwd(medium) {
      left: 3px;
      width: 32px;
    }

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:last-child {
      top: 16px;
    }

    &.clicked {
      transition: top .4s .4s, opacity .4s, transform .4s;
    }
  }
}

//MAIN-MENU
.main-menu {
  @include pos(fixed, -100%);
  width: 100%;
  height: 100%;
  @include flex();
  flex-direction: column;
  font-size: 1.6rem;
  background-color: $green-color-dark;
  transition: top .4s;

  &.active {
    top: 0;

    & > .main-menu__menu-item {
      transform: translateX(0);
      opacity: 1;

      &:first-child {
        transition: .2s .4s;
      }

      &:nth-child(2) {
        transition: .2s .8s;
      }

      &:nth-child(3) {
        transition: .2s 1.2s;
      }

      &:last-child {
        transition: .2s 1.6s;
      }
    }
  }

  &__menu-item {
    @include reset(li);
    margin: 51px 0;
    transform: translateX(-70px);
    opacity: 0;

    @include rwd(medium) {
      @media (orientation: landscape) {
        @include my(20px);
      }
    }
  }

  &__menu-link-item {
    @include reset(a);
    color: $white;
    font-weight: 500;
    transition: .2s;

    &:hover {
      color: lighten($green-color, 27);
    }
  }
}

.section-simple {
  &:nth-child(even) {
    background-color: $grey-color;
  }
}

//II. ABOUT-ME
%simple-section-template-css {
  margin: 0 auto;
  padding: 35px 0;
  max-width: 1366px;
  overflow: hidden;
}

.about-me {
  &__container {
    @extend %simple-section-template-css;
  }

  &__row {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;

    @include rwd(1047px) {
      justify-content: center;
    }
  }
}

.main-section-title {
  margin-top: 10px;
  margin-bottom: 35px;
  display: inline-block;
  font-size: 1.6rem;
  opacity: 0;
  transform: translateX(-100px);
  transition: .7s ease-in-out;

  &--less-mb {
    margin-bottom: 25px;

    @include  rwd(medium) {
      margin-bottom: 4px;
    }
  }

  &--medium-mb {
    margin-bottom: 20px;

    @include  rwd(medium) {
      margin-bottom: 25px;
    }
  }

  &::after {
    content: "";
    margin: 8px auto 0;
    display: block;
    width: 65px;
    height: 3px;
    background-color: $black;
    opacity: 0;
    transform: translateX(-100px);
    transition: .7s ease-in-out .4s;
  }

  &.animate-to-visible {
    transform: translateX(0);
    opacity: 1;

    &::after {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.information-about-me {
  margin: 25px;
  flex-basis: 474px;
  max-width: 552px;
  flex-grow: 1;
  opacity: 0;
  transform: translateX(-80px);
  transition: .4s ease-in-out;

  &.animate-to-visible {
    transform: translateX(0);
    opacity: 1;
  }

  &__author-photo {
    margin-bottom: 28px;
    width: 179px;
    height: 179px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

    @include rwd(medium) {
      width: 165px;
      height: 165px;
    }
  }

  &__description-photo {
    line-height: 27px;
  }
}

.skills-container {
  @extend .information-about-me;
  transform: translateX(80px);

  &.animate-to-visible {
    transform: translateX(0);
    opacity: 1;
  }
}

.bar {
  margin: 12px 0;
  @include flex(flex-start, stretch);

  &--other-skills {
    @include flex(flex-start);
    flex-wrap: wrap;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    width: 168px;
    flex-shrink: 0;
    color: $white;
    line-height: 28px;
    background-color: $green-color;

    @include rwd(medium) {
      width: 145px;
    }

    &--other-skills {
      margin: 3px 5px 0;
      padding: 0 9px;
      display: inline-block;
      width: auto;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  %progress-bar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 28px;
    border: none;
    background-color: $grey-color;
  }

  &__progress {
    @extend %progress-bar;

    &::-webkit-progress-bar {
      @extend %progress-bar;
    }

    &::-moz-progress-bar {
      background-color: $green-color-dark !important;
    }

    &::-webkit-progress-value {
      background-color: $green-color-dark;
      transition: width 1s .7s;
    }
  }
}

//III. PORTFOLIO
.portfolio {
  &__container {
    @extend %simple-section-template-css;
  }
}

.portfolio-project {
  @include flex(space-between);
  flex-wrap: wrap;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  @include rwd(1047px) {
    justify-content: center;
  }

  &__img-container {
    margin: 30px 25px;
    flex-basis: 474px;
    max-width: 552px;
    flex-grow: 1;
    transform: translateY(40px);
    opacity: 0;
    transition: .4s ease-in-out;

    &.animate-to-visible {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__img {
    max-width: 100%;

    @include rwd(medium) {
      transform: scale(0.8);
    }
  }

  &__description-container {
    margin: 30px 25px;
    flex-basis: 474px;
    max-width: 552px;
    flex-grow: 1;
    transition: .4s ease-in-out;

    @include rwd(medium) {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  &__description {
    line-height: 25px;
  }

  &__used-technologies {
    display: block;
    font-weight: 500;
  }

  &__projects-links-container {
    margin-top: 12px;
  }

  &__preview-link,
  &__github-link {
    @include reset(a);
    margin: 5px;
    padding: 7px 15px;
    display: inline-block;
    color: $green-color;
    font-weight: 300;
    border: 1px solid $green-color;
    //background-color: $black;
    transition: .2s;

    &:hover {
      color: $white;
      background-color: $green-color;
    }
  }
}

//IV. CONTACT
.contact {
  &__container {
    @extend %simple-section-template-css;
  }
}

.send-message-form {
  margin: 0 25px;
  @include flex(center, flex-start);

  @include rwd(1047px) {
    flex-direction: column;
    align-items: center;
  }

  &__row {
    margin: 25px 15px;
    flex-basis: 474px;
    max-width: 552px;
    flex-grow: 1;

    @include rwd(1047px) {
      flex-basis: 0;
      width: 100%;

      &:first-child {
        margin-bottom: 0;
      }

      &:nth-child(2){
        margin-top: 0;
      }
    }
  }

  %input-item-template-css {
    @include reset(inputText);
    margin: 10px 0;
    padding: 17px;
    width: 100%;
    font-family: $page-initial-font;
    font-size: 0.9rem;
    color: $green-color-dark;
    border: 1px solid $green-color-dark;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
      -webkit-text-fill-color: $green-color-dark !important;
      -webkit-box-shadow: 0 0 0 30px $white inset !important;
    }

    &:focus {
      border-width: 2px;
      border-color: $green-color-dark;
    }

    &.error-validate {
      border-color: $red;

      &+.error-validate-input-message {
        height: 17px;
        opacity: 1;
      }
    }
  }

  &__user-name-input,
  &__user-email-input {
    @extend %input-item-template-css;
    display: block;
    height: 30px;
  }

  &__user-message-input {
    @extend %input-item-template-css;

    @include rwd(1047px) {
      @include my();
    }
  }

  &__send-message-btn {
    @include reset(btn);
    margin: 10px 0 0 auto;
    padding: 7px 15px;
    @include flex();
    font-family: $page-initial-font;
    font-size: 0.9rem;
    color: $green-color-dark;
    border: 1px solid $green-color-dark;
    transition: .2s;

    &:hover {
      color: $white;
      background-color: $green-color-dark;
    }

    &--send-start {
      &::after {
        content: '';
        margin-left: 7px;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid rgba($green-color-dark,0.4);
        border-right-color: rgba($green-color-dark,1);
        animation: circleLoadAnimation .4s infinite;
      }

      &:hover::after {
        border: 2px solid rgba($white,0.4);
        border-right-color: rgba($white,1);
      }
    }
  }
}

.error-validate-input-message {
  display: block;
  height: 0;
  font-size: 0.9rem;
  color: $red;
  text-align: left;
  opacity: 0;
  transition: height .2s, opacity .2s;
}

.after-send-message-alert {
  margin: 0 25px;
  font-weight: 500;
  line-height:  26px;

  &__show-form-btn,
  &__mailto-link {
    text-decoration: none;
    color: $green-color-dark;

    &--dark-color {
      color: $black;
    }
  }

  &.success-send-message {
    color: $green-color-dark;
  }

  &.error-send-message {
    color: $red;
  }
}

//V. FOOTER
.footer {
  @include py(30px);
  color: $white;
  background-color: $dark-blue-color;
}

.social-icons-container {
  @include flex();
}

.linkedin-icon,
.github-icon {
  @include reset(a);
  @include mx(9px);
  width: 29px;
  color: $white;

  @include rwd(medium) {
    width: 26px;
  }
}

.copyright {
  margin-top: 17px;
  font-size: 0.9rem;
  font-style: normal;
  opacity: .6;

  &__copy,
  &__author,
  &__rights-reserved {
    margin-top: 8px;
    display: block;
  }
}

.scroll-to-top-btn {
  @include reset(a);
  margin-top: 23px;
  display: inline-block;
  font-size: 0.9rem;
  color: $white;
  transition: .2s;
  opacity: .6;

  &:hover {
    opacity: .9;
  }

  &::after {
    content: url("../img/svg/arrow-right.svg");
    margin-left: 9px;
    display: inline-block;
    width: 0.8em;
    transform: rotate(-90deg);
  }
}

@keyframes circleLoadAnimation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}