@import 'var';
@import 'mixin';
@import 'keyframes';
@import 'settings';

.header {
  @include flex();
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-size: 2.1rem;
  color: $white;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba($dark-fiolet, .4);
  overflow: hidden;
}

.self-presentation {
  line-height: 53px;
}

.view-my-works-btn {
  @include reset(a);
  margin-top: 29px;
  padding: 11px;
  display: inline-block;
  line-height: normal;
  font-family: $page-initial-font;
  font-size: 1.2rem;
  color: $white;
  border: 1px solid $white;
  transition: .2s;

  &:hover::after {
    transform: rotate(90deg);
  }

  &::after {
    content: url("../img/svg/arrow-right.svg");
    margin-left: 9px;
    display: inline-block;
    width: 0.7em;
    transition: transform .4s;
  }
}

.section-simple {
  &:nth-child(even) {
    background-color: pink;
  }
}

//II. ABOUT-ME
%simple-section-template-css {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1366px;
  overflow: hidden;
}

.about-me {
  &__container {
    @extend %simple-section-template-css;
  }

  &__row {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;

    @include rwd(1047px) {
      justify-content: center;
    }
  }
}

.main-section-title {
  $my-plus: 20px;
  margin-top: $my-plus;
  margin-bottom: 30px+$my-plus;
  padding: 7px 17px;
  display: inline-block;
  font-size: 1.6rem;
  opacity: 0;
  transform: translateX(-100px);
  transition: .7s ease-in-out;

  &--less-mb {
    margin-bottom: 45px;
  }

  &--medium-mb {
    margin-bottom: 40px;
  }

  &::after {
    content: "";
    margin: 8px auto 0;
    display: block;
    width: 65px;
    height: 3px;
    background-color: $black;
    opacity: 0;
    transform: translateX(-100px);
    transition: .7s ease-in-out .4s;
  }

  &.animate-to-visible {
    transform: translateX(0);
    opacity: 1;

    &::after {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.information-about-me {
  margin: 25px;
  flex-basis: 474px;
  max-width: 552px;
  flex-grow: 1;
  opacity: 0;
  transform: translateX(-80px);
  transition: .4s ease-in-out;

  &.animate-to-visible {
    transform: translateX(0);
    opacity: 1;
  }

  &__author-photo {
    margin-bottom: 28px;
    width: 179px;
    height: 179px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }

  &__description-photo {
    line-height: 27px;
  }
}

.skills-container {
  @extend .information-about-me;
  transform: translateX(80px);

  &.animate-to-visible {
    transform: translateX(0);
    opacity: 1;
  }
}

.bar {
  margin: 12px 0;
  @include flex(flex-start, stretch);
  background-color: pink;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    width: 168px;
    flex-shrink: 0;
    color: $white;
    line-height: 28px;
    letter-spacing: 1px;
    background-color: $green-color;
  }

  &__progress {
    appearance: none;
    width: 100%;
    height: 28px;
    background-color: $grey-color;

    &::-webkit-progress-value {
      background-color: $green-darken10-color;
      transition: width 1s 1.5s;
    }
  }
}

//III. PORTFOLIO
.portfolio {
  &__container {
    @extend %simple-section-template-css;
  }
}

.portfolio-project {
  @include flex(space-between);
  flex-wrap: wrap;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  @include rwd(1047px) {
    justify-content: center;
  }

  &__img-container {
    margin: 30px 25px;
    flex-basis: 474px;
    max-width: 552px;
    flex-grow: 1;
    transform: translateY(40px);
    opacity: 0;
    transition: .4s ease-in-out;

    &.animate-to-visible {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__description-container {
    margin: 30px 25px;
    flex-basis: 474px;
    max-width: 552px;
    flex-grow: 1;
    transition: .4s ease-in-out;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  &__projects-links-container {
    margin-top: 12px;
  }

  &__preview-link,
  &__github-link {
    @include reset(a);
    margin: 5px;
    padding: 7px 15px;
    display: inline-block;
    color: $white;
    letter-spacing: 1px;
    font-weight: 300;
    border: 1px solid $black;
    background-color: $black;
    transition: .2s;

    &:hover {
      color: $black;
      background-color: transparent;
    }
  }
}

//IV. CONTACT
.contact {
  &__container {
    @extend %simple-section-template-css;
  }
}

.send-message-form {
  @include flex(center, flex-start);

  @include rwd(1047px) {
    flex-direction: column;
    align-items: center;
  }

  &__row {
    margin: 25px 15px;
    flex-basis: 474px;
    max-width: 552px;
    flex-grow: 1;

    @include rwd(1047px) {
      flex-basis: 0;
      width: 100%;

      &:first-child {
        margin-bottom: 0;
      }

      &:nth-child(2){
        margin-top: 0;
      }
    }
  }

  %input-item-template-css {
    @include reset(inputText);
    margin: 10px 0;
    padding: 17px;
    width: 100%;
    font-family: $page-initial-font;
    font-size: 0.9rem;
    border: 1px solid $black;

    &.error-validate {
      border-color: $red;

      &+.error-validate-input-message {
        height: 17px;
        opacity: 1;
      }
    }
  }

  &__user-name-input,
  &__user-email-input {
    @extend %input-item-template-css;
    display: block;
    height: 30px;
  }

  &__user-message-input {
    @extend %input-item-template-css;

    @include rwd(1047px) {
      @include my();
    }
  }

  &__send-message-btn {
    @include reset(btn);
    margin: 10px 0 10px auto;
    padding: 7px 15px;
    display: block;
    font-family: $page-initial-font;
    font-size: 0.9rem;
    border: 1px solid $black;
  }
}

.error-validate-input-message {
  display: block;
  height: 0;
  font-size: 0.9rem;
  color: $red;
  text-align: left;
  opacity: 0;
  transition: height .2s, opacity .2s;
}

//V. FOOTER
.footer {
  @include py(30px);
  color: $white;
  background-color: $dark-fiolet;
}

.social-icons-container {
  @include flex();
}

.linkedin-icon,
.github-icon {
  @include reset(a);
  @include mx(9px);
  width: 30px;
  color: $white;
}

.copyright {
  margin-top: 17px;
  font-size: 0.9rem;
  font-style: normal;
  opacity: .6;

  &__copy,
  &__author,
  &__rights-reserved {
    margin-top: 8px;
    display: block;
  }
}

.scroll-to-top-btn {
  @include reset(a);
  margin-top: 23px;
  padding: 7px 11px;
  display: inline-block;
  font-size: 0.9rem;
  color: $white;
  border: 1px solid $white;
  opacity: .6;

  &::after {
    content: url("../img/svg/arrow-right.svg");
    margin-left: 9px;
    display: inline-block;
    width: 0.8em;
    transform: rotate(-90deg);
  }
}