// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// COLORS
$black: #000000;
$white: #ffffff;

$dark-bg-color: rgb(67,65,84);
$headers-text-color: #8a8a8a;

$grey-light: rgb(160,160,166);
$grey-dark: rgb(116,111,121);

$dark: rgb(19,10,13);


$grey-color: #e3e3e3;

$dark-fiolet: #252934;
$fiolet: #344880;
$fiolet-lighten: #4E5B80;
$light-fiolet: #91A1CC;

$light-blue: #3A6C96;

$red: rgb(220, 20, 60);
$cadetblue-color: rgb(95, 150, 160);
$gold-light-color: rgb(255, 228, 196);


$green-color: #6E8954;
$green-darken10-color: darken($green-color, 10);

//FONTS
$page-initial-font: 'Raleway', sans-serif;