// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// COLORS
$black: #000000;
$white: #ffffff;
$red: #ff0000;


$dark-blue-color: #2F3438;
$green-color: #7AABA8;
$green-color-dark: darken($green-color, 17);

$red-color: #891F00;
$grey-color: #F6F6F6;

//FONTS
$page-initial-font: 'IBM Plex Sans', sans-serif;